<title> Movie Poster : <%=@movie['Title']%></title>

<div class="poster_container">

	<h1 class="poster"> Movie Poster </h1>

	<img class="poster_border" src="<%=@movie['Poster']%>>" >
	<br>
	<div class="imdb"><a href="http://www.imdb.com/title/<%=@movie['imdbID']%>" target="blank">
	Visit IMDb page : <%=@movie['Title']%></a>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<b class="keys">Plot : </b><%=@movie['Plot']%><br>
				<div class="left_col">
					<div class="row">
						<div class="left_col">
						<div class="col-sm-4 col-sm-offset-2">
							<b class="keys">Rated : </b><%=@movie['Rated']%><br>
							<b class="keys">Runtime : </b><%=@movie['Runtime']%><br>
							<b class="keys">Released : </b><%=@movie['Released']%><br></div>
						</div>
						<div class="right_col">
						<div class="col-sm-6 col-sm-offset-0">
							<b class="keys">Genre : </b><%=@movie['Genre']%><br>	
							<b class="keys">Director : </b><%=@movie['Director']%><br>
							<b class="keys">Actors : </b><%=@movie['Actors']%><br></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br><a href="/">New Search</a>
	<br><br>

</div>